{% extends "base.html" %}

{% block title %}Limbo Job Tracker{% endblock %}

{% block extra_head %}
  <style>
      .shimmer-card {
      background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
      background-size: 400% 100%;
      animation: shimmer 1.5s infinite;
      border-radius: 0.25rem;
      height: 200px;
    }
    p {
      font-size: medium;
    }


    @keyframes shimmer {
      0% {
        background-position: -400px 0;
      }
      100% {
        background-position: 400px 0;
      }
    }
  </style>
{% endblock %}

{% block content %}
<div class="container my-4">
  <h1 class="mb-4">Limbo Job Tracker</h1>
  <p>Tracks jobs that have 
    1. Scheduled appointments that have passed and not been completed. 
    2. Jobs with unscheduled appointments.</p>
  <p>Disregards administrative, training, and pink folder jobs.</p>
  <div class="d-flex justify-content-between align-items-center mb-3">
  <div id="jobCountDisplay" class="text-muted small"></div>
  <div>
    <label for="sortSelect" class="form-label me-2 mb-0">Sort by:</label>
    <select id="sortSelect" class="form-select form-select-sm d-inline-block w-auto">
      <option value="newest">Newest</option>
      <option value="oldest">Oldest</option>
    </select>
  </div>
</div>
  <div id="jobCardsContainer" class="row g-3"></div>
  <nav>
    <ul class="pagination justify-content-center mt-4" id="paginationControls"></ul>
  </nav>
</div>


</div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js -->
    <script src="{{ url_for('static', filename='js/limbo_job_tracker.js') }}"></script>
{% endblock %}
